<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<!--<th:block th:include="/inc/public::baseStyle"></th:block>-->
	<link th:href="@{/js/bootstrap_3.3.0/css/bootstrap.min.css}" type="text/css" rel="stylesheet" />
	<script type="text/javascript" th:src="@{/js/jquery-1.11.1-min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap_3.3.0/js/bootstrap.min.js}"></script>

</head>
<body>
	<img th:src="@{/imgs/home.png}" style="position: relative;top: -10px; left: -10px;"/>
</body>
</html>